//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
    @cell-color: #057;
    @cell-color-even: darken(@cell-color, 5%);
    @cell-color-hover: lighten(@cell-color, 10%);
    @cell-color-hover-even: darken(@cell-color-hover, 5%);
    @cell-border-radius: 5px;
    
    overflow: hidden;
    background-color: transparent;
    padding-left: 15px;
    
    > li {
        display: inline-block;
        
        &:first-child {
            margin-left: -15px;
        }
        & + li:before {
            content: "";
            padding: 0;
        }
        a {
            padding: 0px 5px 0px 5px;
            background-color: @cell-color;
            position:relative;
            line-height: 36px;
            text-decoration: none;
            text-align: center;
            margin-right: 15px;
            color: #eee !important;
            display: block !important;
            outline: none;
            float: left;
            transition: all 0.2s linear 0s;
            -webkit-transition: all 0.2s linear 0s;
            -moz-transition: all 0.2s linear 0s;
            -ms-transition: all 0.2s linear 0s;
            -o-transition: all 0.2s linear 0s;
            
            &:hover {
                color: #fff;
                background-color: @cell-color-hover;
                &:before {
                    border-color: @cell-color-hover;
                    border-left-color: transparent;
                }
                &:after {
                    border-left-color: @cell-color-hover;
                }
            }
            
            &:before,
            &:after {
                content: " ";
                position:absolute;
                top: 50%;
                left: 100%;
                z-index: 2;
                border-top: 18px solid transparent;
                border-bottom: 18px solid transparent;
                border-left: 15px solid @cell-color;
                margin-top: -18px;
                width: 0;
                height: 0;
                transition: all 0.2s linear 0s;
                -webkit-transition: all 0.2s linear 0s;
                -moz-transition: all 0.2s linear 0s;
                -ms-transition: all 0.2s linear 0s;
                -o-transition: all 0.2s linear 0s;
            }
            &:before{
              left:-15px;
              border-color: @cell-color;
              border-left-color:transparent;
            }
            &:after{
              left:100%;
              border-color:transparent;
              border-left-color:@cell-color;
            }
        }
        
        &:nth-child(even) {
            a {
                background-color: @cell-color-even;
                &:before {
                    border-color: @cell-color-even;
                    border-left-color: transparent;
                }
                &:after {
                    border-left-color: @cell-color-even;
                }
                
                &:hover {
                    color: #fff;
                    background-color: @cell-color-hover-even;
                    &:before {
                        border-color: @cell-color-hover-even;
                        border-left-color: transparent;
                    }
                    &:after {
                        border-left-color: @cell-color-hover-even;
                    }
                }
            }
        }
        
        &:first-child {
            a {
                border-radius: @cell-border-radius 0 0 @cell-border-radius;
                padding-left: 15px;
                
                &:before {
                    border: none;
                }
            }
        }
        &:last-child {
            a {
                border-radius: 0 @cell-border-radius @cell-border-radius 0;
                padding-right: 10px;
                &:after {
                    border:none;
                }
            }
        }
    }
}
/*.breadcrumb {
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  margin-bottom: @line-height-computed;
  list-style: none;
  background-color: @breadcrumb-bg;
  border-radius: @border-radius-base;

  > li {
    display: inline-block;

    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: @breadcrumb-color;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
  }
}*/
