/*
The MIT License

Copyright 2016 Rafal Woloszka.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : Apr 11, 2016, 5:56:27 PM
    Author     : Rafal Woloszka
*/

.transition(@params) {
    transition: @params;
    -webkit-transition: @params;
    -moz-transition: @params;
    -ms-transition: @params;
    -o-transition: @params;
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.content-header {
    > h1 {
        float: right !important;
    }
    
    > .breadcrumb {
        float: left;
        position: static;
        left: 0px; right: none;
        padding: 7px 15px !important;
        li {
            + li:before { content: "" !important; }
        }
    }
}

.modal-dialog.modal-big { width: 90%; }
.select2-container--krajee .select2-search__field::-moz-placeholder { opacity: 0.6;}
.select2-search__field {
    &:focus, &:active, &:hover {
        border: none !important;
    }
}
.select2-container { width: 100% !important; }
.kv-editable-close {margin-top: 2px !important;}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.gallery-custom-variants .input-group-addon {
    min-width: 100px;
}
.box-image-choose {
    .transition(all 0.2s linear);
}

.panel .panel-heading a[data-toggle="collapse"] {
    color: white;
}

.error-box { 
    min-width: 50%; 
    width: 50%;
    margin: 100px auto;
}

.info-box {
    .info-box-icon {
        .transition(font-size 0.2s linear);
    }
    &:hover, &:focus {
        .info-box-icon {
            font-size: 50px;
        }
    }
}

.box-solid .box-title > small {
    color: #ddd;
}

.sort-highlight {
    border-width: 3px;
}

.no-transition {
    .transition(none) !important;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.color-preview {
    padding: 3px 5px;
    border-radius: 5px;
    text-shadow: 0px 0px 1px #000;
    color: #fff;
    display: inline-block;
}

.background-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

.squares-placeholder {
    min-height: 300px;
    background-color: rgba(0,0,0,0.75);
    border: 1px dashed #fff;
}

/*table tr[data-key] td:last-child a {
    padding: 5px;
    background-color: #19f;
    border-radius: 3px;
    border: 1px solid #48f;
}*/

tr.filters .select2 { min-width: 150px; }

.btn-appx {
  border-radius: 3px;
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.btn-appx > .fa,
.btn-appx > .glyphicon,
.btn-appx > .ion {
  font-size: 20px;
  display: block;
}
.btn-appx:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}
.btn-appx:active,
.btn-appx:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-appx > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}

.callout.callout-outline {
    color: #333 !important;
    background-color: rgba(0,0,0,0.0) !important;
    
    /* a {
        color: #19f !important;
    } */
}

.callout.callout-condensed {
    .page-header { margin-bottom: 10px; margin-top: 5px; }
    p { margin: 0; }
    p:empty { margin: 10px 0; }
    a { text-decoration: none; }
}

.treeview-menu li {
    overflow-x: hidden;
}